.skin-blue .main-header .logo {
  background-color: #0033a0;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  background-color: #0033a0;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: #0033a0;
}        

.inner {
  background-color: #0033a0;
}

.box-header {
  background-color: #0033a0;
}

.box-title{
  color: #FFFFFF
}



